/***********FILE IMPORTS**********/
/***************************************/
@import url("bootstrap.css");
/*************GENERAL*****************/
/*************************************/
body{
  background-image: url('../images/car2.jpg');
  text-align: center;
}
.p13 {
  font-size: 13px
}
.p24 {
  font-size: 24px;
  color: white;
}
.p20 {
  font-size: 20px-
}
.jumbotron {
  text-align: center;
}
/*******************FOOTER*************************/
/***************************************************/
footer {
  background-color: white;
}
