/***********FILE IMPORTS**********/
/***************************************/
@import url("bootstrap.css");
/*************GENERAL*****************/
/*************************************/
body{
  background-color: white;

}
.p13 {
  font-size: 13px
}
.p24 {
  font-size: 24px
}
.p20 {
  font-size: 20px
}
.jumbotron {
  text-align: center;
}
/*******************HEADER****************************/
/******************************************************/
header {
  color: red;
}
.nav {
  float: right;
}
/*******************CAROSEL**************************/
/**********************************************/
/********************FOOTER*********************/
/*************************************************/
footer {
  color: white;
  text-align: center;
}
