/***********FILE IMPORTS**********/
/***************************************/
@import url("bootstrap.css");
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
/*************GENERAL*****************/
/*************************************/
body{
  background-color: white;
  text-align: center;
  color: black;
}
.p13 {
  font-size: 13px
}
.p24 {
  font-size: 24px;
  color: white;
}
.p20 {
  font-size: 20px-
}
.jumbotron {
  text-align: center;
}
/*******************HEADER****************************/
/******************************************************/
header {
  color: white;
}
nav {
  text-align: center;
  font-weight: 100;
  font-size: 16px ;
}
a {
  color: inherit;
  padding: 12px 15px ;
  background-color: inherit;
  text-align: center;
  border-radius: 12px ;
  text-decoration: none;
  text-align: center;
}
a hover {
  background-color: #BFC5D1 ;
}

/*******************CAROSEL**************************/
/**********************************************/
/********************SIZE***************************/
/**************************************************/
.mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
}

.view:hover .mask {
  opacity: 1;
  text-align: center;
}

.name {
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/********************FOOTER*********************/
/*************************************************/
footer {
  background-image: url('../images/de.jpg');
  color: white;
  text-align: center;

}
